@import url('https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap');

$white: #fff;
$yellow: #F6E049;
$salmon: #F56476;

$light-green: #4BFF47;
$dark-green: #347474;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    scroll-behavior: smooth;
}

// main styles

* {
    //body
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: $white;
    box-sizing: border-box;
}