@import './base.scss';

// colors

.yellow {
    color: $yellow
}

.salmon {
    color: $salmon
}

.green {
    color: $light-green
}

.white {
    color: $white
}

section#contas {
    background-color: lighten($color: $dark-green, $amount: 20);
}

section#app {
    background-color: darken($color: $light-green, $amount: 30);
}


// desktop styles

header,
section {
    min-height: 100vh;
    background-color: $dark-green;
    padding: 30px;
}

header {

    background-image: url(assets/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;

    h1 {
        color: white;
        font-size: 144pt;
        text-align: center;
        text-shadow: 10px 10px $yellow;
        margin-bottom: 10vh;
    }

    ul {
        list-style: none;
        text-transform: uppercase;
        font-family: Poppins;
        font-weight: 800;
        font-size: 64px;
        width: 50vw;
        margin-left: 5vw;
    }

    li:nth-child(1) {
        color: $white;
    }

    li:nth-child(2) {
        color: $yellow;
    }

    li:nth-child(3) {
        color: $salmon;
    }
}

section {

    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        font-weight: 800;
        font-size: 96px;
        line-height: 100%;
        text-transform: uppercase;
        flex: 2;
    }

    .phone {
        flex: 1;
        max-width: 480px;
        height: 80vh;
        max-height: 1000px;
        margin: 0px 20px;

        @include flex-center();

        img {
            height: 90%;
            box-shadow: 10px 10px 20px transparentize($color: #000000, $amount: 0.8);
            border-radius: 22px;
        }
    }
}

@media only screen and (max-width:1300px) {
    header {

        h1 {
            font-size: 96px;
            width: 100%;
        }

        ul {
            width: auto;
            font-size: 32px;
            margin-left: 0px;
            text-align: center;
        }
    }

    section {
        display: flex;
        flex-direction: column;

        h2 {
            font-weight: 600;
            font-size: 48px;
            flex: 1;
            text-align: center;

            margin-bottom: 20px;
        }

    }
}

@media only screen and (max-width:480px) {
    h1 {
        font-size: 48px;
    }

    section {
        h2 {
            font-size: 36px;
        }
    }

}